@page
@model Cafenea.Pages.TipuriLapte.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lapte</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lapte.DenumireLapte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lapte.DenumireLapte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lapte.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lapte.Pret)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lapte?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
